#design {
    width: 100%;
    margin-top: 5vh;
    // overflow: hidden;
}
.des__inner {
    padding: 16px;

    .des__title {
        width: 100%;
        height: 5vw;
        font-size: 4vw;
        font-weight: 900;
        line-height: 1.6;
        font-family: var(--mainKor-font);
        text-transform: uppercase;
        color: var(--black);
        border-bottom: 0.4vw solid var(--black);
        margin-bottom: 16px;
        text-indent: -0.26vw;

        @media (max-width: 800px){ 
            width: 100%;
            margin-bottom: 0;
            font-size: 30px;
            height: auto;
            top: 68px;
            background-color: var(--mainBg-color);
        }

        em {
            font-size: 1.25rem;
            font-weight: 400;
            line-height: 2;
        }
    }
    .des__wrap {
        display: flex;
        flex-wrap: wrap;
        width: 7000px;

        .des__item {
            width: 500px;
            height: 60vh;
            background-color: var(--subBg100);
            padding: 1.5rem;
            margin-right: 20px;

            @media (max-width: 800px){ 
                width: 360px;
                margin-right: 15px;

            }

            &.p1 {
                background-color: var(--subBg100);
            }
            &.p2 {
                background-color: var(--subBg200);
            }
            &.p3 {
                background-color: var(--subBg300);
            }
            &.p4 {
                background-color: var(--subBg400);
            }
            &.p5 {
                background-color: var(--subBg500);
            }
            &.p6 {
                background-color: var(--subBg100);
            }
            &.p7 {
                background-color: var(--subBg200);
            }
            &.p8 {
                background-color: var(--subBg300);
            }
            &.p9 {
                background-color: var(--subBg400);
            }
            &.p10 {
                background-color: var(--subBg500);
            }

            .modal-open-button, .modal-close-btn {
                cursor: pointer;
                margin-left: auto;
              }

            .img {
                display: block;
                transition: margin-top 0.3s;
                height: 530px;
                overflow-y: scroll;
                
                @media (max-width: 800px){ 
                    height: 450px;
                }

                img {
                    border-radius: 5px;
                    filter: saturate(0%);                    
                }
                &:hover {
                    
                    img {
                        filter: saturate(100%);
                    }
                }                            
            }
            .no-scroll{
                -ms-overflow-style: none; /* IE, Edge */
                scrollbar-width: none; /* Firefox */
            }
            .no-scroll::-webkit-scrollbar {
                display: none; /* Chrome, Safari, Opera */
              }
            .des__tit{
                padding-top: 10px;
                display: block;
                text-align: center;
            }
            
            
        }

    }
}